html {
    height:100%;
}

#button {
    color: #964091;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 35px;
    transition: 0.3s;
}

#button:hover {
    color: #F8C9DF;      
}


/* Body */
body {
    height:100%;
    margin:0;
    background: #160333;
    font-family: 'Heebo', sans-serif;
}

.main {
     overflow: auto;
     z-index: 1;
 }

body .main {
    color: #ffffff;
}
body .mainn {
    color: #ffffff;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0;  }
    to { opacity: 1; }
}

.mainn a {
    color: #964091;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 35px;
    transition: 0.3s;
}

.mainn a:hover {
    color: #F8C9DF;   
}


h5 {
    color: #F8C9DF;
    font-weight: 300;
}

h4 {
    font-weight: 300;
    line-height: .5;
}

h1 {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 500;
    line-height: 60px;
    vertical-align: text-top;
    color: #F8C9DF;
}

#hello {
    font-size: 100px;
        line-height: 80px;
}

.bio {
    margin-left: 5rem;
}

.bio p {
    font-size:  20px;
    font-weight: 400;
}

#base {
    font-weight: 300;
}
h2 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    line-height: 60px;
    vertical-align: text-top;
    color: #F8C9DF;
}

.bodytxt {
    display: flex;
  flex-wrap: wrap;
}

.bodytxt img {
    max-width: 100%;
}

.work-title {
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;
    
}

.work-column-left {
    flex: 85%;
}

.work-column-right {
    flex: 15%;
}

.about {
    display: inline-flex;
    justify-content: space-between;
  flex-wrap: wrap;
    gap: 20px;
}

.about-column-left {
    flex: 30%;
}

.about-column-right {
    flex: 30%;
}

.mainpage {
    max-width: 75%;
    flex: 75%;
    padding: 20px;
    margin: auto;
}

.work-desc {
    max-width: 75%;
    flex: 75%;
    padding: 20px;
    margin: auto;
}

.links2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.links2 h3 {
    text-align: center;
}




/* Header */
.main-header {
  flex: auto;
    height: 1%;
    padding: 45pt;
}

.column2 {
  float: left;
  width: 85%;
}
.column3 {
  float: left;
  width: 10%;
}

.toppart {
            display: flex;
            flex-direction: row;
}
.column4 {
    float: left;
  width: 50%;
}
/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/*img {
    width: 100%;
    height: auto;  
}*/

.containerr {
  display: inline-block;
  cursor: pointer;
}

.barr1, .barr2, .barr3 {
  width: 35px;
  height: 5px;
  background-color: #F8C9DF;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .barr1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .barr2 {
  opacity: 0;
}

/* Rotate last bar */
.change .barr3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(22,3,51); /* Black fallback color */
  background-color: rgba(22,3,51, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #F8C9DF;
     text-transform: uppercase;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 205px;
  font-size: 60px;
}

#logo{
    width:35%;
    margin-left: 6rem;
    margin-top: 6pt;

}

.cat {
    display: flex;
    justify-content: center;
}
#icon{
    width:10%;
}


.container {
	max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: #fafafa;*/
}

.flex-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.categories_item span {
      color: #F8C9DF;
    text-decoration: none;
    font-weight: 400;
        line-height: 0px;
    font-size: 25px;
    transition: 0.3s;
}


.categories_item span:hover {
    color: white;   
}

.categories_item {
  flex: 1 0 20%;                 /* NEW */
  margin: 5px;                   /* NEW */
    height: 150px;
    padding: 10px;
    align-items: center;
   justify-content: center;
  text-align: center;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#citem1 {
    background-image: url(../images/ds-header.jpg);
}
#citem2 {
    background-image: url(../images/bert-thumb.jpg);
}


/* Main page */
.mainpage {
    width: 40%;
    width: 40%;
}

.mainpage img {
    width: 100%;
}
/* Column gallery */
.column-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 18px;
}
.column-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 18px;
}

.column-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-bottom: 18px;
}

.item {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; 
}

.portraitmain {
    margin: 0pt 0pt 0pt 3rem;
}



/* Responsive */


    
@media screen and (max-width: 850px) {
     nav li a {
        font-size: 17px;
    }
    
     .navbar a {
    width: 90px;
    }
    
    h1 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    line-height: 40px;
    vertical-align: text-top;
}
    
     #logo{
    width:70%;
    margin: auto;
    padding: 3rem;
    }
    

}