html {
    height:100%;
}
body {
    height:100%;
    margin:0;
    background: #DCD0FF;
    font-family: 'Space Grotesk', sans-serif;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Sidebar */
.logo {
    width: 200px;
    padding-top: 7em;
    padding-left: 7em;
}

.logo-desc {
    font-family: 'Space Mono', monospace;
    color: #86608E;
    font-size: 12.6px;
    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: 4px;
    text-align: center;
}

.menu {
    font-family: 'Space Mono', monospace;
    color: #86608E;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    margin-top: 4em;
    padding-left: 7em;
}


.menu a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    border: 1px;
    color: #86608E;
    width: 158px;
    border-style: solid;
    border-color: #86608E;
    text-decoration: none;
    transition: 0.3s;
    margin: 0px 0px 1em 0px;
}

.menu a:hover {
  background-color: #86608E;
  color: white;
}

.menu .menuicon {
  display: none;
}

/* Layout */
.page {
    display: flex;
}

.sidebar {
     position: fixed;
     width: 425px;
     height: 100%;
 }
 .main {
     margin-left: 425px;
     height: 100%;
     width: auto;
     position: relative;
     overflow: auto;
     z-index: 1;
 }

.work-header {
    display: flex;
    width: 100%;
    float: left;
    margin-bottom: 2em;
}

.mainimg {
    position: relative;
    float: left;
    width: 1000px;
    height: 400px;
    overflow: hidden;
}

.mainimg img {
    position: absolute;
    width: 100%;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.workgallery {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.workgallery img {
    position: absolute;
    height: 100%;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.work-desc {
    width: 60%;
    padding-top: 2.5em;
     padding-left: 0em;
}

.work-desc a {
    color: #86608E;
    text-decoration: none;
}

h5 {
    color: #86608E;;
}


/* Slideshow */
.workcontainer img {
    width: 75%;
}


/* Portfolio */
.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}

.portfolio a {
    color: black;
}

.portfolio .item {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.portfolio .item img {
    max-width:100%;
    vertical-align: middle;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.portfolio .caption {
    pointer-events: none;
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.portfolio .item img:hover{
    opacity: 0.5;
}

.portfolio .item:hover .caption {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 100);
}

/* Responsive layout */
@media screen and (max-width: 1550px) {
    .portfolio {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    }
}
    
@media screen and (max-width: 1200px) {
    .portfolio {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    } 
}
    
    
@media screen and (max-width: 1000px) {
    .page {
    display: block;
    }
    
    .work-header {
    height: 100%;
    width: 100%;
    }
    
    .portfolio {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    } 
    
    .logo {
    width: 150px;
    margin: 0 auto;
    padding: 2em 0em 2em 0em;
    position: relative;
    }
    
    .logo-desc {
    font-size:7.8px;
    }
    
    .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    }
        
    .main {
    margin-left: 0px;
    height: 100%;
    width: auto;
    position: relative;
    
    }
    
    .slideshow-container {
    max-width: 100%;
    }
    .menu {
    width: 200px;
    margin: 0 auto;
    padding-left: 0px;
    position: relative;
    }
    
    .menu a {
    width: 150px;
    }
    
    .menu a:not(:last-child) {
    display: none;
    }
    
    .menu a.menuicon {
    display: block;
    border: 0;
    }
    
    .menu.responsive {
    position: relative;
    }
    
    .menu.responsive .menuicon {

    }
    
    .menu.responsive a {
    display: block;
    text-align: center;
    }
    
    .work-header {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 2em;
    }
    
    .work-desc {
    width: 80%;
    padding-left: 2em;
    }
    
    .mainimg {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    overflow: hidden;
    }

    .workgallery {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    }
    
@media screen and (max-width: 600px) {
    
    .portfolio {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    } 
   
}
    
/* Old code
.sidebar {
    width: auto;
    height: 100%;
}

.main {
    flex: 0 1 auto;
    padding-left: 7em;
}
*/